@import url("https://fonts.googleapis.com/css2?family=Cookie&display=swap");

$primaryColor: white;
$secondaryColor: rgba(255, 255, 255, 0.589);
$highlightColor: #007bff;
$backgroundColor: #2c3e50;

html {
  scroll-behavior: smooth;
}

h1 {
  font-family: "Cookie", serif;
  font-size: 2.5rem;
  margin-bottom: 0;
  line-height: 1;
}

h2 {
  font-size: 18px;
  margin: 8px 0;
}

h3 {
  color: white;
  font-style: italic;
}

h5 {
  font-size: 18px;
  margin: 8px 0;
  font-weight: 400;
}

.font--secondary-color {
  color: $secondaryColor;
}

a:link {
  text-decoration: none;
}

a:hover {
  color: $primaryColor;
}

.p--secondary {
  color: $secondaryColor;
}

.app {
  align-items: center;
  background-color: $backgroundColor;
  min-height: 100vh;
  min-width: 100px;
  color: $primaryColor;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

.main--loading {
  display: flex;
  align-items: center;
  justify-content: center;
}

header,
footer {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  height: 68px;
  background-color: #282c34;
  a {
    color: $secondaryColor;
    transition: all 0.2s ease;
  }
}

footer {
  margin-top: 20px;
}

#top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  height: 100%;
  a {
    color: $primaryColor;
  }
}

.menu {
  cursor: pointer;
  div {
    box-sizing: border-box;
    width: 30px;
    height: 3px;
    background-color: $primaryColor;
    margin: 7px 0;
    transition: all 0.3s ease;
  }
}

/* Navigation menu button animation */
.menu--active {
  .line1 {
    transform: rotate(-45deg) translate(-3.5px, 8.5px);
  }
  .line2 {
    opacity: 0;
  }
  .line3 {
    transform: rotate(45deg) translate(-6px, -10px);
  }
}

.top-options-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.user-options {
  top: 68px;
  display: none;
  position: absolute;
  z-index: 1;
  width: 100%;
  background: #282c34;
  align-items: flex-end;
  .btn {
    margin: 10px 5vw 10px 0;
    &:last-child {
      margin-bottom: 20px;
    }
  }
}

.user-options--active {
  display: flex;
  flex-direction: column;
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  width: 90%;
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.125);
  margin: 20px 0px;
  padding: 20px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 4px 4px 0 #282c34, 0 6px 10px 0 #282c34f6;
  p {
    white-space: pre-line;
  }
  &:hover {
    border-color: #2e323a;
  }
}

.card--intro {
  text-align: center;
  align-items: center;
  padding: 40px;
  p {
    margin-bottom: 32px;
  }
}

.post {
  p {
    color: $primaryColor;
    overflow: hidden;
  }
}

.post--summary {
  p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
  &:hover {
    background: #2e323a;
    transition: 0.2s;
  }
}

.tags {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 16px;
  button {
    color: $secondaryColor;
    font-size: 14px;
    padding: 2px 4px;
    border: solid 1px $secondaryColor;
    border-radius: 5px;
    margin-right: 8px;
    margin-bottom: 8px;
    background: transparent;
    &:focus {
      outline: none;
    }
  }
}

.tags--highlight button {
  &:hover {
    color: $primaryColor;
    border-color: $primaryColor;
    cursor: pointer;
  }
  &:focus {
    box-shadow: 0 0 0.5px 0.5px $primaryColor;
  }
}

.post__details {
  display: flex;
  flex-direction: column;
  p {
    align-content: flex-end;
    align-items: flex-end;
    font-size: 14px;
    color: $secondaryColor;
    margin: 0;
  }
  label {
    color: $secondaryColor;
    font-size: 14px;
    margin: 0;
    margin-right: 4px;
  }
}

.post__details-row {
  display: flex;
  flex-direction: row;
}

.authors {
  button {
    box-sizing: border-box;
    font-style: italic;
    color: $secondaryColor;
    padding: 0;
    border: none;
    margin-bottom: 4px;
    background: transparent;
    &:focus {
      outline: none;
    }
  }
}

.authors--highlight button {
  &:hover {
    color: $primaryColor;
    cursor: pointer;
  }
  &:focus {
    color: $primaryColor;
  }
}

textarea,
input[type="text"],
input[type="email"],
input[type="password"] {
  margin-bottom: 20px;
  padding: 0 8px;
  width: 100%;
  border-radius: 3px;
  border: solid 1px black;
  background: #3c5168;
  color: $primaryColor;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  height: 38px;
}

::placeholder {
  color: rgba(255, 255, 255, 0.8);
}

.post__stats {
  display: flex;
  align-items: center;
  margin-top: 8px;
  p {
    font-size: 14px;
    margin: 0 0 0 16px;
    color: $secondaryColor;
  }
  button {
    display: flex;
    background: transparent;
    border: none;
    padding: 0;
  }
  svg {
    cursor: pointer;
    &:hover {
      border: 1px solid $secondaryColor;
      border-radius: 5px;
    }
  }
}

.options {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.options__left {
  flex: 1;
}

.options__right {
  display: flex;
  align-items: center;
}

.card-width-wrapper {
  width: 90%;
  padding: 0 20px;
}

.margin-bottom {
  margin-bottom: 20px;
}

.privacy {
  display: flex;
  align-items: center;
  label {
    margin: 0 8px 3px 0;
  }
}

.btn {
  display: flex;
  justify-content: center;
  color: $primaryColor;
  font-weight: 600;
  width: 80px;
  background: transparent;
  border: 1px solid $primaryColor;
  &:hover {
    border: 1px solid $highlightColor;
  }
}

.btn--red:hover {
  border: 1px solid rgb(148, 0, 0);
}

.btn--full-width {
  width: 100%;
}

.btn--wide {
  width: 200px;
}

.divider {
  margin-top: 0;
}

.entry {
  input,
  button {
    font-size: 18px;
  }
}

.entry__nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-style: italic;
  color: $secondaryColor;
  a {
    color: $primaryColor;
    text-decoration: underline;
  }
}

.bottom {
  display: flex;
  justify-content: center;
}

@keyframes flickerAnimation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.animate-flicker {
  h2 {
    font-family: "Cookie", serif;
    font-size: 2em;
    animation: flickerAnimation 1.5s infinite;
  }
}

@media only screen and (min-width: 600px) {
  h1 {
    font-size: 3rem;
  }

  header,
  footer {
    #top {
      width: 60%;
    }
  }

  .user-options {
    top: 8.5vh;
    .btn {
      text-align: left;
      margin: 10px 20vw 10px 0;
    }
  }

  .card {
    width: 60%;
  }

  .card-width-wrapper {
    width: 60%;
  }
}

@media only screen and (min-width: 1050px) {
  h1 {
    font-size: 3.5rem;
  }

  header,
  footer {
    height: 8.5vh;
    #top {
      width: 33%;
    }
  }

  .user-options {
    .btn {
      margin: 10px 33vw 10px 0;
    }
  }

  .card {
    width: 33%;
  }

  .card-width-wrapper {
    width: 33%;
  }
}

@media only screen and (max-width: 355px) {
  .small-screen-margin-bottom {
    margin-bottom: 20px;
  }
}
