@import url("https://fonts.googleapis.com/css2?family=Cookie&display=swap");
html {
  scroll-behavior: smooth;
}

h1 {
  font-family: "Cookie", serif;
  font-size: 2.5rem;
  margin-bottom: 0;
  line-height: 1;
}

h2 {
  font-size: 18px;
  margin: 8px 0;
}

h3 {
  font-family: "Cookie", serif;
  font-size: 2.5rem;
}

h5 {
  font-size: 18px;
  margin: 8px 0;
  font-weight: 400;
}

a:link {
  text-decoration: none;
}

.app {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  min-width: 100px;
}

.wrapper {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header,
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 68px;
}

header a,
footer a {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

footer {
  margin-top: 20px;
}

main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

#top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
  height: 100%;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
  margin-right: 4px;
}

.menu div {
  width: 30px;
  height: 3px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-radius: 22%;
}

/* Navigation menu button animation */
.menu--active .line1 {
  -webkit-transform: rotate(-45deg) translate(-3.5px, 8.5px);
          transform: rotate(-45deg) translate(-3.5px, 8.5px);
}

.menu--active .line2 {
  opacity: 0;
}

.menu--active .line3 {
  -webkit-transform: rotate(45deg) translate(-6px, -10px);
          transform: rotate(45deg) translate(-6px, -10px);
}

.visible-top-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top-options-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.user-options {
  top: 68px;
  display: none;
  position: absolute;
  z-index: 1;
  width: 100%;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.user-options .btn {
  margin: 10px 5vw 10px 0;
}

.user-options .btn:last-child {
  margin-bottom: 20px;
}

.user-options--active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card {
  width: 90%;
  margin: 20px 0px;
  padding: 20px;
  overflow: hidden;
  border-radius: 5px;
}

.card p {
  white-space: pre-line;
}

.card--intro {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px;
}

.card--intro p {
  margin-bottom: 32px;
}

.status-message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.post p {
  overflow: hidden;
}

.post--summary p {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.post--summary:hover {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 16px;
}

.tags button {
  font-size: 14px;
  padding: 2px 4px;
  border: solid 1px;
  margin-right: 8px;
  margin-bottom: 8px;
  border-radius: 5px;
}

.tags button:hover {
  cursor: pointer;
}

.post__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.post__details p {
  -ms-flex-line-pack: end;
      align-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 14px;
  margin: 0;
}

.post__details label {
  font-size: 14px;
  margin: 0;
  margin-right: 4px;
}

.post__details-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.authors button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-style: italic;
  padding: 0;
  border: none;
  margin-bottom: 4px;
}

.authors button:hover {
  cursor: pointer;
}

textarea,
input[type="text"],
input[type="email"],
input[type="password"] {
  margin-bottom: 20px;
  padding: 0 8px;
  width: 100%;
  border: none;
  border-radius: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  height: 38px;
}

.post__stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 8px;
}

.post__stats p {
  font-size: 14px;
  margin: 0 0 0 16px;
}

.post__stats button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: none;
  padding: 0;
}

.post__stats svg {
  cursor: pointer;
}

.post__stats svg:hover {
  border: 1px solid;
  border-radius: 5px;
}

.options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.options__left {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.options__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-width-wrapper {
  width: 90%;
  padding: 0 20px;
}

.margin-bottom {
  margin-bottom: 20px;
}

.privacy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.privacy label {
  margin: 0 8px 3px 0;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 600;
  width: 80px;
  border: 1px solid;
  border-radius: 5px;
}

.btn--full-width {
  width: 100%;
}

.btn--wide {
  width: 200px;
}

.btn--minimal {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 38px;
  height: 38px;
  padding: 0;
  margin-left: 16px;
  border: none;
}

.divider {
  margin-top: 0;
}

.entry input,
.entry button {
  font-size: 18px;
}

.entry__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-style: italic;
}

.entry__nav a {
  text-decoration: underline;
}

@-webkit-keyframes flickerAnimation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes flickerAnimation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.animate-flicker h2 {
  font-family: "Cookie", serif;
  font-size: 2em;
  -webkit-animation: flickerAnimation 1.5s infinite;
          animation: flickerAnimation 1.5s infinite;
}

@media only screen and (min-width: 600px) {
  h1 {
    font-size: 3rem;
  }
  header #top,
  footer #top {
    width: 60%;
  }
  .user-options .btn {
    text-align: left;
    margin: 10px 20vw 10px 0;
  }
  .card {
    width: 60%;
  }
  .card-width-wrapper {
    width: 60%;
  }
}

@media only screen and (min-width: 1050px) {
  h1 {
    font-size: 3.5rem;
  }
  header,
  footer {
    height: 8.5vh;
  }
  header #top,
  footer #top {
    width: 33%;
  }
  .user-options .btn {
    margin: 10px 33vw 10px 0;
  }
  .card {
    width: 33%;
  }
  .card-width-wrapper {
    width: 33%;
  }
}

@media only screen and (max-width: 355px) {
  .small-screen-margin-bottom {
    margin-bottom: 20px;
  }
}
/*# sourceMappingURL=App.css.map */